* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

::placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

input::-ms-clear {
  display: none;
}

input {
  color: #ffffff;
}

button {
  cursor: pointer;
  color: #ffffff;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "roboto-regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
body {
  font: 18px/1.5 "roboto-regular";
  color: #ffffff;
  background-color: #08020d;
}

.fz1 {
  font-size: 16px;
}

.fz2 {
  font-size: 24px;
}

.fz3 {
  font-size: 32px;
}

.fz4 {
  font-size: 40px;
}

.fz5 {
  font-size: 48px;
}

.fz6 {
  font-size: 56px;
}

.fz7 {
  font-size: 64px;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.header {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
.header__menu {
  position: absolute;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.none {
  font-size: 11px;
}

a {
  text-decoration: none;
}

.menu__color {
  color: #ffffff;
}
.menu__item1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.menu__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}
.menu__coloritem {
  color: #cacaca;
  margin-left: 24px;
}

.margl16 {
  margin-left: 16px;
}

.margt31 {
  margin-top: 31px;
}

.margl90 {
  margin-left: 90px;
}

.logo {
  width: 24px;
  height: 24px;
}

.marg24 {
  margin: 24px 0px;
}

.seach {
  width: 250px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background: #3c3b3d;
  border-radius: 50px;
}

.section {
  position: relative;
  margin: 0px 120px;
  padding: 200px 0px;
  text-align: center;
}

.forms {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.forms::-moz-placeholder {
  font-size: 14px;
}

.forms:-ms-input-placeholder {
  font-size: 14px;
}

.forms::placeholder {
  font-size: 14px;
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  font-size: 14px;
}
.form__row1 {
  max-width: 570px;
  margin: 0 auto;
}

.form__element {
  margin-top: 17px;
  margin-bottom: 1.5rem;
}

.batton {
  display: block;
  height: 57px;
  color: #ffffff;
  background: #34c176;
  border-radius: 5px;
  font-size: 13.3px;
  padding-top: 20px;
  width: 100%;
}

@media (max-width: 780px) {
  .section {
    margin: 0 20px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .menu__item {
    margin: 0;
  }

  .margl90 {
    margin: 10px 0;
  }

  .margl24 {
    margin-left: 0;
  }

  .forms__row {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .forms {
    width: 100%;
  }

  .form__element {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
  }

  .batton {
    margin-top: 12px;
  }
}
@media (max-width: 414px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .seach {
    width: 100%;
  }

  .section {
    margin: 0 20px;
    text-align: start;
  }

  .section1 {
    text-align: center;
  }

  a {
    width: 100%;
  }

  .margl90 {
    margin: 17px 0 18px;
  }

  .margl24 {
    margin-left: 0;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }

  .menu__coloritem {
    color: #cacaca;
    margin: 0;
  }

  ::-moz-placeholder {
    color: #757575;
    font-size: 14px;
    line-height: 16px;
  }

  :-ms-input-placeholder {
    color: #757575;
    font-size: 14px;
    line-height: 16px;
  }

  ::placeholder {
    color: #757575;
    font-size: 14px;
    line-height: 16px;
  }

  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .forms::-moz-placeholder {
    color: #ffffff;
  }

  .forms:-ms-input-placeholder {
    color: #ffffff;
  }

  .forms::placeholder {
    color: #ffffff;
  }
}