@font-face {
    font-family: "roboto-regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "roboto-medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

html {
    font: 18px/1.5 "roboto-regular";
    color: #cacaca;
    background-color: #08020d;
}