@import "_nule";
@import "_variables";

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}
h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}
.svg {
    width: 20px;
    height: 20px;
}
.header {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    &__menu {
        position: absolute;
        top: 25px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
.header2 {
    background-image: url(../images/Morten\ Harket.png);
    background-position: center;
    background-size: cover;
    &__menu {
        position: absolute;
        top: 25px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
.cl {
    color: $color5;
}
.none {
    font-size: 11px;
}
.tt {
    text-transform: uppercase;
}
.textaligh{
    text-align: start;
}
a {
    text-decoration: none;
}
.menu {
    &__color {
        color: $color10;
    }
    &__item2 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: auto;
    }
    &__item1 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
    }
    &__coloritem {
        color: $color5;
        margin-left: 24px;
    }
}
.margl16 {
    margin-left: 16px;
}
.margll16 {
    margin-left: 16px;
}
.margt18 {
    margin-top: 18px;
}
.margt31 {
    margin-top: 31px;
}
.margt30 {
    margin-top: 30px;
    color: $color5;
}
.margt40 {
    margin-top: 40px;
}
.margl90 {
    margin-left: 90px;
}
.logo {
    width: 24px;
    height: 24px;
}
.logo1 {
    fill: $color10;
    width: 20px;
    height: 20px;
}
.margt24 {
    margin-top: 24px;
}
.margl24 {
    margin-left: 24px;
}
.marg24 {
    margin: 24px 0px;
}
.seach {
    width: 250px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: $color7;
    border-radius: 50px;
}
.section {
    position: relative;
    padding: 200px 0px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.section20 {
    position: relative;
    padding: 200px 0px;
    max-width: 1200px;
    margin: 0 auto;
}
.section21 {
    max-width: 1200px;
    margin: 0 auto;
}
.forms {
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    border: 2px solid $color5;
    border-radius: 3px;
    background-color: transparent;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
}
.forms::placeholder {
    font-size: 14px;
}
.form {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 570px;
        font-size: 14px;
    }
    &__row1 {
        max-width: 570px;
        margin: 0 auto;
    }
}
.form__element {
    margin-top: 17px;
    margin-bottom: 1.5rem;
}
.batton {
    display: block;
    height: 57px;
    color: $color10;
    background: $color2;
    border-radius: 5px;
    font-size: 13.3px;
    line-height: 57px;
    width: 100%;
}
.color6 {
    color: $color6;
}
// page2 section1
.first {
		&__contain {
            display: flex;
            gap: 1.5rem;
            text-align: center;
		}
		&__items {
            width: 200px;
            height: 62px;
		}
}
.mar1 {
    margin-top: 16px;
    margin-bottom: 48px;
}
.batton11 {
    display: flex;
    align-items: center;
    height: 62px;
    width: 200px;
    line-height: 62px;
    padding: 0 30px;
    color: $color10;
    background: $color6;
    border-radius: 5px;
    font-size: 12.8px;
}
.batton12 {
    display: flex;
    align-items: center;
    height: 62px;
    width: 200px;
    padding: 0 30px;
    line-height: 62px;
    color: $color10;
    border-radius: 5px;
    background: $color8;
    font-size: 12.8px;
}
.color6 {
    color: $color6;
}
@media (max-width: 780px) {
    .section {
        margin: 0 20px;
        padding: 250px 0;
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .menu__item {
        margin: 0;
    }
    .margl90 {
        margin: 10px 0;
    }
    .margl24 {
    margin-left: 0;
    }
    .forms__row {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .forms {
        width: 100%;
    }
    .form__element {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
    }
    .batton {
        margin-top: 12px;
    }
}
@media (max-width: 414px) {
    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .seach {
        width: 100%;
    }
    .section, .section20 {
        margin: 0 20px;
        text-align: start;
    }
    .section21 {
        margin-top: 25px;
    }
    .section1 {
        text-align: center;
    }
    a {
        width: 100%;
    }
    .margl90 {
        margin: 17px 0 18px;
    }
    .margl24 {
        margin-left: 0;
    }
    .margl16{
        margin-left: 16px;
    }
    .first {
		&__contain {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            text-align: center;
		}
		&__items {
            width: 200px;
            height: 62px;
		}
    }
    .menu {
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;
        }
        &__item2 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            }
        }
    .menu__coloritem {
        color: $color5;
        margin: 0;
    }
    ::placeholder {
        color: #757575;
        font-size: 14px;
        line-height: 16px;
    }
    h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .forms::placeholder {
        color: $color10;
    }
}
// section 2
.section2 {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    max-width: 1200px;
}
.section22 {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1200px;
}
.flex {
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 45px 0;
    }
}
span {
    vertical-align: super;
    font-size: 32px;
}
.pricing-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 31%;
    padding: 0 1.5rem;
    border-radius: 1rem;
}
.bg-sub1 {
    background-image: url(../images/subscribe_1.png);
    background-position: center;
    background-size: cover;
}
.bg-sub2 {
    background-image: url(../images/subscribe_2.png);
    background-position: center;
    background-size: cover;
}
.bg-sub3 {
    background-image: url(../images/subscribe_3.png);
    background-position: center;
    background-size: cover;
}
.pricing-value {
    margin: 200px 0 40px;
    line-height: 1em;
}
.pricing-footer {
    margin: 64px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 150%;
}
.batton1 {
    display: block;
    height: 57px;
    color: $color10;
    border: 1px solid $color10;
    border-radius: 5px;
    font-size: 13.3px;
    line-height: 57px;
    width: 100%;
}
.track {
    &__contain {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 25px;
        margin-top: 48px;
    }
    &__items {
        display: flex;
        align-items: center;
        flex: 0 1 550px;
        font-size: 12.8px;
        line-height: 19.2px;
    }
    &__img {
        width: 55px;
        height: 55px;
    }
    &__time {
        margin-left: auto;
        color: $color3;
    }
}
.track-info {
    margin-left: 15px;
    text-align: start;
}
.song {
    text-transform: uppercase;
    font-weight: bold;
}
.autor {
    color: $color3;
}
@media (max-width: 780px) {
    .flex {
    &__row {
        display: flex;
        flex-direction: column;
        margin: 45px 0 0;
        }
    }
}
// section 3
.news-item {
    display: flex;
    gap: 50px;
    margin: 50px 0;
}
.news-item1 {
    display: flex;
    gap: 50px;
    margin: 50px 0;
    }
.news-body {
    text-align: start;
}
.news-author {
    display: flex;
    font-size: 12px;
    line-height: 19px;
    color: $color5;
}
.batton2 {
    display: table;
    height: 57px;
    color: $color10;
    border: 1px solid $color10;
    border-radius: 5px;
    font-size: 13.3px;
    line-height: 57px;
    margin-top: 48px;
    padding: 0 30px;
}
h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
}
.mg {
    margin: 0 16px;
    color: $color4;
}
.block__item {
    flex: 0 1 575px;
}
// page 2 section 3
.section23 {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1200px;
}
.album {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    &__contain {
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: 50px;
        margin-top: 48px;
    }
    &__items {
        flex: 0 1 250px;
    }
    &__text {
        margin-top: 18px;
        text-align: start;
    }
}
.year {
    color: $color3;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
@media (max-width: 1100px) {
    h3 {
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
    }
    .news-item {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .news-item1 {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 50px;
    }
    .wds {
        flex: 1 1 100%;
        width: 100%;
    }
    .margt30 {
        margin-top: 16px;
    }
    .margt24 {
        margin-top: 16px;
    }
    .batton2 {
        width: auto;
    }
    .block__item {
        flex: 1 1 575px;
    }
    .size137 {
        width: 137px;
        height: 137px;
    }
    .album {
        &__items {
            flex: 0 1 137px;
        }
    }
}
// section 4
.section3 {
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1200px;
}
.align {
    text-align: center;
}
.flex {
		&__conteiner {
            display: flex;
            gap: 144px;
            margin-top: 64px;
		}
		&__text {
            flex: 0 1 600px;
		}
}
.picture {
    flex: 0 1 333px;
    width: 100%;
}
.batton3 {
    display: table;
    height: 57px;
    background-color: $color8;
    color: $color10;
    border-radius: 32px;
    font-size: 12.8px;
    line-height: 57px;
    margin-top: 16px;
    padding: 0 40px;
}
// page 2 section 4
.section24 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 100px;
}
.artist {
	&__contain {
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: 50px;
        text-align: center;
        margin-top: 48px;
	}
}
.artist-item {
    flex: 0 1 250px;
}
.artist-info {
    margin-top: 17px;
}
.group {
    font-size: 18px;
    font-weight: bold;
}
.followers {
    font-size: 16px;
    font-weight: normal;
    color: $color3;
}

@media (max-width: 780px) {
    .section3 {
        margin: 0 20px;
        padding: 100px 0;
        }
    .section24 {
        margin: 0 20px;
        padding: 100px 0;
        }
    .flex {
        &__conteiner {
            display: flex;
            flex-wrap: wrap-reverse;
            gap: 16px;
            margin-top: 48px;
        }
        &__text {
            flex: 1 0 100%;
        }
    }
    .picture {
        flex: 1 1 333px;
        width: 100%;
    }
    h3 {
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
    }
    .artist-item {
        flex: 0 1 137px;
    }
    .wids {
        width: 137px;
    }
}
// footer
.section4 {
    padding-top: 62px;
    padding-bottom: 72px;
    margin: 0 auto;
    max-width: 1200px;
}
.section5 {
    padding-top: 40px;
    padding-bottom: 49px;
    margin: 0 auto;
    max-width: 1200px;
}
.bg-gradient {
    background: linear-gradient(89.75deg, $color6 32.83%, $color8 81.56%);
}
.links {
    color: $color3;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-decoration: none;
}
li {
    line-height: 24px;
}
ul {
    margin-top: 15px;
}
.flex {
    &__container {
        display: flex;
        gap: 40px;
    }
    &__item {
        flex: 1 1 270px;
    }
}
hr {
    max-width: 5000px;
    border: 1px solid $color5;
    border-radius: 0px;
}
.contain {
    display: flex;
}
@media (max-width: 780px) {
    .section4 {
        margin: 0 20px;
    }
    .section5{
        margin: 0 20px;
    }
    .flex {
        &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        &__item {
            flex: 1 1 270px;
        }
    }
    .margl24 {
        margin-left: 24px;
    }
    .contain {
        display: flex;
        flex-wrap: wrap;
    }
    .margll16 {
        margin-top: 16px;
        margin-left: 0;
    }
}
@media (max-width: 1240px) {
    .section, .section3, .section4, .section20, .section22, .section23, .section24 {
        margin: 0 20px;
    }
    .section2 {
        margin: 100px 20px 0;
    }
}