@import "_nule";
@import "_variables";

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}

.header {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    &__menu {
        position: absolute;
        top: 25px;
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }
}
.none {
    font-size: 11px;
}
a {
    text-decoration: none;
}
.menu {

    &__color {
        color: #ffffff;
    }
    &__item1 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
    }
    &__coloritem {
        color: #cacaca;
        margin-left: 24px;
    }
}
.margl16 {
    margin-left: 16px;
}
.margt31 {
    margin-top: 31px;
}
.margl90 {
    margin-left: 90px;
}
.logo {
    width: 24px;
    height: 24px;
}
.marg24 {
    margin: 24px 0px;
}
.seach {
    width: 250px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: #3c3b3d;
    border-radius: 50px;
}
.section {
    position: relative;
    margin: 0px 120px;
    padding: 200px 0px;
    text-align: center;
}
.forms {
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: transparent;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
}
.forms::placeholder {
    font-size: 14px;
}
.form {

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 570px;
        font-size: 14px;
    }
    &__row1 {
        max-width: 570px;
        margin: 0 auto;
    }
}
.form__element {
    margin-top: 17px;
    margin-bottom: 1.5rem;
}
.batton {
    display: block;
    height: 57px;
    color: #ffffff;
    background: #34c176;
    border-radius: 5px;
    font-size: 13.3px;
    padding-top: 20px;
    width: 100%;
}
@media (max-width: 780px) {
    .section {
        margin: 0 20px;
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .menu__item {
        margin: 0;
    }
    .margl90 {
        margin: 10px 0;
    }
    .margl24 {
        margin-left: 0;
    }
    .forms__row {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .forms {
        width: 100%;
    }
    .form__element {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
    }
    .batton {
        margin-top: 12px;
    }
}
@media (max-width: 414px) {
    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .seach {
        width: 100%;
    }
    .section {
        margin: 0 20px;
        text-align: start;
    }
    .section1 {
        text-align: center;
    }
    a {
        width: 100%;
    }
    .margl90 {
        margin: 17px 0 18px;
    }
    .margl24 {
        margin-left: 0;
    }
    .menu__item {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }
    .menu__coloritem {
        color: #cacaca;
        margin: 0;
    }
    ::placeholder {
        color: #757575;font-size: 14px;line-height: 16px;
    }
    h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .forms::placeholder {
        color: #ffffff;
    }
}