@import "basestyleproject.scss";

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: capitalize;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: capitalize;
}

@media (max-width: 414px) {
    h1 {
        font-style: 30px;
        line-height: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }

    h2 {
        font-style: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: capitalize;
    }
}